.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $col-bg-dark;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}

.address-list {
  &__item {
    color: $col-text-secondary;
  }
  &__item + &__item {
    margin-top: 10px;
  }
  &__link {
    transition: color $time-animation $function-cubic;

    &:hover,
    &:focus {
      color: $col-accent;
    }
  }
}

.opacity {
  opacity: 60%;
}
.follow {
  margin-left: 94px;
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $col-text-secondary;
  }
}

.follow-form {
  margin-left: auto;
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $col-text-secondary;
  }
  &__form {
    display: flex;
  }
  &__input {
    width: 358px;
    height: 50px;
    padding-left: 15px;
    margin-right: 12px;
    border: $border-follow-input;
    background-color: transparent;
    color: $col-text-secondary;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    transition: border-color $time-animation $function-cubic;

    &:hover,
    &:focus {
      border: $border-follow-input-hover;
    }
  }
}

.follow-form-icon {
  margin-left: 10px;
  fill: $col-icon-light;
}
