.header {
  &__container {
    display: flex;
    align-items: center;

    background-color: $col-bg-light;
    border-bottom: 1px solid $col-border-header;
  }
  &__navigation {
    margin-left: 93px;
  }
}

.navi {
  display: flex;

  &__item {
    position: relative;
  }
  &__item + .navi__item {
    margin-left: 50px;
  }
  &__link {
    display: block;
    padding: 32px 0;

    color: $col-title-primary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $time-animation $function-cubic;

    &:hover,
    &:focus {
      color: $col-accent;
    }
  }
}

.contact {
  display: flex;
  margin-left: auto;

  &__item + .contact__item {
    margin-left: 50px;
  }
  &__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $time-animation $function-cubic;

    &:hover,
    &:focus {
      color: $col-accent;
      fill: $col-accent;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.current {
  color: $col-accent;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";

    background-color: $col-accent;
    border-radius: 2px;
  }
}
