body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $col-text-primary;
  
}
.section {
  padding-bottom: 60px;
  @media screen and (min-width:1200px) {
        padding-bottom: 94px;
      }
}
.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width:480px) {
    max-width: 480px;
  }
  @media screen and (min-width:768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}