.picture-list {
  display: flex;

  &__item + &__item {
    margin-left: 30px;
  }
  &__item {
    position: relative;
  }
  &__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color: $col-text-secondary;
    background-color: $col-bg-business-subtitle;
  }
}
