.portfolio {
  padding-top: 94px;
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-thumb-wrap {
  position: relative;
  overflow: hidden;
}

.project-thumb-overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform $time-animation $function-cubic;
  overflow: auto;

  font-size: 18px;
  line-height: 1.55;
  color: $col-text-secondary;
  background-color: $col-overlay-portfolio-card;
}

.project-item {
  display: block;
  transition: box-shadow $time-animation $function-cubic;

  &:hover .project-thumb-overlay,
  &:focus .project-thumb-overlay {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $col-title-primary;
}

.project-subtext {
  padding: 20px 24px;
  border: 1px solid $col-border-portfolio-card;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
}
